<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Language" content="<%- page.lang %>"/>
    <!-- Meta Title and Description -->
    <title><%- page.metatitle %></title>
    <meta name="description" content="<%- page.metadesc %>"/>
    <!-- Facebook, LinkedIn, Twitter, etc. Open Graph annotations -->
    <meta property="og:site_name" content="Sim4edu"/>
    <meta property="og:title" content="<%- page.ogtitle %>"/>
    <meta property="og:description" content="<%- page.fogdesc %>"/>
    <meta property="og:url" content="https://sim4eduhexo.netlify.com/"/>
    <meta property="og:image" content="<%- page.ogimg %>"/>  <!-- recommended 1200 x 630 --> 
    <meta property="og:locale" content="<%- page.lang %>" />
    <meta property="og:locale:alternate" content="zh_Hans" />
    <meta property="og:locale:alternate" content="de" />
    <!-- Google annotations -->
    <script type="application/ld+json">{
        "@context": "https://schema.org",
        "@type": "WebSite",
                "publisher": {
                    "@type": "Organization",
                    "name": "Brandenburg University of Technology",
                    "logo": "https://www.b-tu.de/fileadmin/btu-cs/images/logo/BTULogo_englisch_grau.png"
                },
                "author": {
                    "@type": "Person",
                    "name": "Gerd Wagner",
                    "image": {
                        "@type": "ImageObject",
                        "url": "https://ari123.com/media/img/GW.jpg",
                        "width": 230,
                        "height": 230
                    },
                    "url": "https://www.linkedin.com/in/gerdwagner/",
                    "sameAs": []
                },
                "url": "https://sim4edu.com/",
                "datePublished": "2018-05-04T00:00:00.000Z",
                "dateModified": "2019-02-18T14:35:00.000Z",
                "image": {
                    "@type": "ImageObject",
                    "url": "https://sim4edu.com/img/sim4edu.svg",
                    "width": 1200,
                    "height": 292
                },
                "keywords": "simulation, online simulation, web-based simulation, javascript-based simulation, educational simulation, instructional simulation, simulation education",
                "description": "The Simulation for Education (sim4edu.com) project website supports web-based simulation with open source technologies for science and education. It provides both simulation technologies and a library of educational simulations."
            }
        </script>  
    <link rel="icon" type="image/png" href="img/icon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/icon-16x16.png" sizes="16x16">
    <!-- Global site tag (gtag.js) - Google Analytics
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-98612205-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-98612205-1', {'anonymize_ip':true});
            </script>
            -->

            <% if (page.layout==='area-page') { %>
                <link rel="stylesheet" href="../css/normalize.css">
                <link rel="stylesheet" href="../css/basic-styles.css">
                <link rel="stylesheet" href="../css/prio-menu.css">
                <link rel="stylesheet" href="../css/area-page.css">
                <link rel="stylesheet" href="../css/prio-menu.css">
                <link rel="stylesheet" href="../css/media-queries.css"> 
            <%} else {%>
                <% if (page.layout==='sims')  { %>
                    <link rel="stylesheet" href="../framework/chartist.css">
                    <link rel="stylesheet" href="../framework/simulator-core.css">
                <%} else {%>  
                    <% if (page.layout==='description')  { %>
                        <link rel="stylesheet" href="../framework/description.css">
                        <script src="metadata.js"></script>
                        <script src="../framework/description.js"></script>
                    <%} else {%>   
                        <link rel="stylesheet" href="css/normalize.css">
                        <link rel="stylesheet" href="css/basic-styles.css">
                        <link rel="stylesheet" href="css/prio-menu.css">
                        <link rel="stylesheet" href="css/ant.css">
                        <link rel="stylesheet" href="css/start-page.css">
                        <link rel="stylesheet" href="css/prio-menu.css">
                        <link rel="stylesheet" href="css/media-queries.css"> 
                    <%} %>
                <%} %>
            <%} %>
</head> 